* {
    margin: 0;
}

ul {
    display: grid;
    justify-content: center;
    margin-top: 20px;

}

a {
    list-style: none;
}

header {
    grid-area: "header";
    display: grid;
    justify-content: center;
    height: 10vh;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #0074d9;
}

section {
    display: grid;
    grid-area: "section";

}

footer {
    grid-area: "footer";
    background-color: #333;

}

#estadoBr {
    margin-top: 15px;
}
li{
    margin-top: 10px;
}
button{
    background-color: #ff4136;
    color: white;
    height: 20px;
    margin-left: 15px;
}
button:hover{
    opacity: 0.8;
}